<template>
    <v-parallax src="@/assets/bg.png" class="fill-height pt-15">
        <v-row class="pa-4 fill-height align-center" justify="center">
        <v-col cols="6">
            <v-form @submit.prevent="sendAnswer">
                <v-card>
                    <v-card-title>
                        {{ langIsFrench ? 'Saisir un flag' : 'Enter your flag' }}
                    </v-card-title>
                    <v-card-text>
                        {{ langIsFrench ? 'Entrez votre flag dans la case ci-dessous et vous aurez un retour utilisateur.' 
                        : 'Enter your flag in the box below and you will have user feedback.' }}
                        <br/>
                        {{langIsFrench ? ' Les points seront automatiquement attribués à votre équipe en cas de succès.' : 'Points will be automatically awarded to your team if successful.'  }}
                        <v-text-field class="mt-4" :label="langIsFrench ? 'Entrez votre flag ici' : 'Enter your flag here'" v-model="state.answer"></v-text-field>
                    </v-card-text>
                    <v-card-actions class="mt-0 pt-0">
                        <v-btn @click="sendAnswer" color="primary" variant="tonal">{{langIsFrench ? 'Valider' : 'Send'}}</v-btn>
                    </v-card-actions>
                </v-card>
            </v-form>
            <v-snackbar v-model="state.snackbar" :color="state.snackbarColor">{{ state.snackbarMessage }}</v-snackbar>
        </v-col>
    </v-row>
    </v-parallax>
</template>
<script lang="ts" setup>
import { reactive } from 'vue';
import axios from 'axios';
import { useRoute } from 'vue-router';
import { useLangStore } from '@/store/lang';
import { storeToRefs } from 'pinia';

const { langIsFrench } = storeToRefs(useLangStore())

let route = useRoute();
const state = reactive({
    answer: '',
    snackbar: false,
    snackbarMessage: '',
    snackbarColor: ''
})

function sendAnswer(){
    axios.post(import.meta.env.VITE_API_URL + 'CsGames/Prize', {Flag: state.answer, Team_Id: route.query.id})
    .then((response) => {
        if(response.status == 200){
            state.snackbarColor = 'success'
            state.snackbarMessage =  langIsFrench ? `Flag valide, +10 pts pour ${route.params.name}` : `Valid Flag, +10 pts for ${route.params.name}`
            state.snackbar = true
            setTimeout(() => { state.snackbar = false }, 5000);
        }
    })
    .catch((error) => {
        if(error.response.status == '409'){
            state.snackbarColor = 'warning'
            state.snackbarMessage = langIsFrench ? `Ce flag déjà activé pour ${route.params.name}` : `Flag already activated for ${route.params.name} !`
            state.snackbar = true
            setTimeout(() => { state.snackbar = false }, 5000);
        }
        else{
            state.snackbarColor = 'error'
            state.snackbarMessage = langIsFrench ? 'Flag invalide, réessayez !' : `Invalid Flag, try again !`
            state.snackbar = true
            setTimeout(() => { state.snackbar = false }, 5000);
        }
    })
}
</script>