<template>
<v-parallax src="@/assets/bg.png" class="fill-height">
    <v-container class="pt-15">
        <v-row align="center">
            <v-col cols="4">
                <v-img
                class="mb-5"
                contain
                src="@/assets/puzzleHero.png"
                />
            </v-col>
            <v-col cols="8">
                <v-card
                    class="mx-auto"
                    align="left"
                    variant="tonal"
                >
                <v-card-title class="text-h4 ml-9 mt-10">
                    <v-row>
                        <v-col>
                            {{ langIsFrench ? state.titleFR : state.titleEN }}
                        </v-col>
                    </v-row>
                </v-card-title>
                <v-card-text class="text-h4">
                    <v-list lines="one" bg-color="transparent" class="text-h4">
                        <v-list-item
                            class="text-h4"
                            v-for="item in langIsFrench? state.itemsFR :state.itemsEN"
                            prepend-icon="mdi-menu-right"
                            :title="item.title"
                        >
                        <v-list-item-subtitle class="text-h6">
                            {{ item.subtitle }}
                        </v-list-item-subtitle>
                        </v-list-item>
                    </v-list>
                </v-card-text>
                <v-card-actions align="center" class="mb-5" style="margin-top: -20px;">
                   <v-col cols="3" >
                        <v-btn
                        class="px-2 py-4"
                        stacked
                        prepend-icon="mdi-account-box"
                        variant="outlined"
                        size="xl"
                        @click="$router.push({name:'Login'})"
                        >
                        {{ langIsFrench ? 'Se connecter' : 'Login' }}
                        <br/>
                        {{langIsFrench ? 'Épreuve' : 'Test'}} #5
                        </v-btn>
                    </v-col>
                    <v-col cols="3">
                        <v-btn
                        class="px-2 py-4"
                        stacked
                        prepend-icon="mdi-puzzle"
                        variant="outlined"
                        size="xl"
                        @click="$router.push({name:'Puzzle'})"
                        >
                        {{ langIsFrench ? 'Énigmes' : 'Puzzle' }}
                        <br/>
                        {{langIsFrench ? 'Épreuve' : 'Test'}} #6-7-8
                        </v-btn>
                    </v-col>
                    <v-col cols="3">
                        <v-btn
                        class="px-2 py-4"
                        stacked
                        prepend-icon="mdi-incognito"
                        variant="outlined"
                        size="xl"
                        @click="$router.push({name:'unknownError'})"
                        >
                        Incognito
                        <br/>
                        {{langIsFrench ? 'Épreuve' : 'Test'}} #9
                        </v-btn>
                    </v-col>
                </v-card-actions>
                </v-card>
            </v-col>
        </v-row>
        </v-container>
</v-parallax>
</template>
<script lang="ts" setup>
import { reactive, watch } from 'vue';
import axios from 'axios';
import { useLangStore } from '@/store/lang';
import { storeToRefs } from 'pinia';

axios.get(import.meta.env.VITE_API_URL + 'CsGames/Teams').then((response) => {
    state.teams = response.data
  })

type teams = {
    id: number,
    name: string,
    short_name: string
}

const state = reactive({
    teams: [] as Array<teams>,
    titleFR: 'Épreuve de 9 énigmes!',
    titleEN: 'Test of 9 puzzles!',
    itemsFR: [
        {title: 'Un maximum de 90 points est possible', subtitle: 'Vous en avez surement déjà 40 rendu ici...' },
        {title: "Les réponses seront affichées comme 'flag [réponse]' lorsque résolue."},
        {title: "Entrez vos drapeaux 'réponse' dans l'onglet Équipes."},
        {title: "Les points du Classement sont en ordre de rapidité."},
        {title: "Réponses acceptées jusqu'à Dimanche à Midi"}
    ],
    itemsEN: [
        {title: 'A maximum of 90 points is possible', subtitle: 'You should already have 40 points here... '},
        {title: "Responses are denoted as 'flag [response]' when resolved."},
        {title: "Enter your 'response' flags in the Teams tab."},
        {title: "Leaderboard scores are in order of speed"},
        {title: "Answers accepted until Sunday at noon"}
    ]
})

const { langIsFrench } = storeToRefs(useLangStore())

</script>

<style>
.v-list-item-title{
    font-size: x-large;
}
</style>