<template>
    <v-parallax src="@/assets/bg.png" class="fill-height">
        <v-row class="d-flex align-center fill-height" justify="center">
        <v-col cols="4">
            <h1 class="text-center">
                <v-icon icon="mdi-crown" color="black"></v-icon> 
                {{ langIsFrench ?  'Classement des équipes' : 'Teams leaderboard'}}
                <v-icon icon="mdi-crown" color="black"></v-icon>
            </h1>
            <v-table style="height: 59vh; overflow-y: scroll;" class="mt-5 rounded-xl">
                <thead>
                <tr>
                    <th class="text-left">
                        {{ langIsFrench ? 'Rang' : 'Rank' }}
                    </th>
                    <th class="text-left">
                        {{ langIsFrench ? 'Équipes' : 'Teams' }}
                    </th>
                    <th class="text-left">
                        {{ langIsFrench ? 'Points' : 'Score' }}
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr
                    v-for="(item, i) of state.entries"
                    :key="item.team_id"
                >
                    <td>
                        {{ i+1 }}
                        <v-icon icon="mdi-trophy" :color="i === 0 ? 'amber' : i === 1 ? 'grey' : 'deep-orange-accent-2'" v-if="[0, 1, 2].includes(i)"></v-icon>
                    </td>
                    <td>{{ item.team_name }} </td>
                    <td>{{ item.total_score }}</td>
                </tr>
                </tbody>
            </v-table>
        </v-col>
    </v-row>
    </v-parallax>
</template>
<script lang="ts" setup>
import { reactive } from 'vue';
import axios from 'axios';
import { useLangStore } from '@/store/lang';
import { storeToRefs } from 'pinia';

const { langIsFrench } = storeToRefs(useLangStore())

axios.get(import.meta.env.VITE_API_URL + 'CsGames/Leaderboard').then((response) => {
    state.entries = response.data;
  })

setInterval(() => axios.get(import.meta.env.VITE_API_URL + 'CsGames/Leaderboard').then((response) => {
    state.entries = response.data
  }), 15000)


type leaderboardEntry = {
    team_id: number,
    team_name: string,
    total_score: number
}

const state = reactive({
    entries: [] as Array<leaderboardEntry>,
    headers: [
                { title: "Équipe", key: "team_name"},
                { title: "Score", key: "total_score"}
            ]
})

</script>

<style scoped>

:deep().v-data-table-footer{
    display:none;
}
</style>