<template>
    <v-container class="fill-height">
        <v-row class="pa-4 d-flex justify-center ">
            <v-col :align="!lgAndUp ? 'center' : i % 2 == 0 ? 'right' : 'left'" v-for="(team, i) of state.teams" lg="6" cols="12">
                <v-btn color="primary" class="team-button w-50 py-9 d-flex align-center" @click="$router.push({name:'Flags', query: {id: team.id}, params: {name: team.name}})">
                    {{ team.name }}
                </v-btn>
            </v-col>
        </v-row>
    </v-container>
</template>
<script lang="ts" setup>
import { reactive } from 'vue';
import { useDisplay } from 'vuetify';
import axios from 'axios';

var {lgAndUp} = useDisplay();

axios.get(import.meta.env.VITE_API_URL + 'CsGames/Teams').then((response) => {
    state.teams = response.data
  })

type teams = {
    id: number,
    name: string,
    short_name: string
}

const state = reactive({
    teams: [] as Array<teams>
})
</script>

<style scoped>
.team-button{
    color: white; 
    overflow: hidden;
} 

.team-button:hover{
    background-color: #52c5faaa!important;
}
</style>