<template>
  <v-container class="d-flex align-center text-center fill-height">
      <span class="text-h2 w-100 text-red">{{langIsFrench ? "Une erreur s'est produite": 'An error occurred'}}</span>
  </v-container>
</template>

<script lang="ts">
import axios from 'axios';
import { storeToRefs } from 'pinia';
import { useLangStore } from '@/store/lang';
export default {
  data() {
    const { langIsFrench } = storeToRefs(useLangStore())
    return {
      langIsFrench,
      message: ''
    };
  },
  async mounted() {
    try {
      const response = await axios.get(import.meta.env.VITE_API_URL + 'CsGames/unknownError');
    } catch (error:any) {
      if (error.response && error.response.status === 418) {
        console.error('An error occurred:', error.response.status);
      } else {
        console.error('An error occurred:', error);
      }
    }
  }
};
</script>