<template>
  <v-container class="fill-height">
    <v-snackbar v-model="state.snackbar" :color="state.snackbarColor">{{ state.snackbarMessage }}</v-snackbar>
    <v-responsive class="d-flex align-center text-center fill-height">

      <div class="text-body-2 font-weight-light mb-n1">{{ langIsFrench ? 'Bienvenue aux' : 'Welcome to the' }}</div>

      <h1 class="text-h2 font-weight-bold">Puzzle Hero</h1>

      <div class="py-5" />
      <v-img
      v-if="tab == 3"
        contain
        height="300"
        src="@/assets/math.png"
      />
      <v-img
      v-else
        contain
        height="300"
        src="@/assets/logo.png"
      />

      <div class="py-7" />

      <v-row class="d-flex align-center justify-center">
        <v-card elevation="0" width="80%">
          <v-tabs
            v-model="tab"
            color="primary"
            align-tabs="center"
          >

            <v-tab :value="1" v-if="!state.puzzle2Success">
              <v-icon
              icon="mdi-heart"
              size="large"
              start
              />
              1
            </v-tab>
            <v-tab :value="1" v-if="state.puzzle2Success">
              <v-icon
              icon="mdi-heart"
              size="large"
              start
              />
              31
            </v-tab>

            <v-tab :value="2" v-if="!state.puzzle3Success">
              <v-icon
              icon="mdi-puzzle"
              size="large"
              start
              />
              3
            </v-tab>
            <v-tab :value="2" v-if="state.puzzle3Success">
              <v-icon
              icon="mdi-crown"
              size="large"
              start
              />
              3
            </v-tab>
            <v-tab :value="3" v-if="!state.puzzle1Success">
              <v-icon
              icon="mdi-division"
              size="large"
              start
              class="ml-2"
              /> 
            </v-tab>
            <v-tab :value="3" v-if="state.puzzle1Success">
              <v-icon
              icon="mdi-check"
              size="large"
              start
              class="ml-2"
              /> 
            </v-tab>

          </v-tabs>
          <v-window v-model="tab">
            <v-window-item
              :key="1"
              :value="1"
            >
              <v-container fluid>
                <v-row>
                  <v-col class="mx-auto" cols="4">
                    XXX adiungit vitam
                  </v-col>
                </v-row>
                <v-row>
                  <v-col >
                    <v-icon size="xxx-large" v-for="icon in state.puzzle2Icons" :icon="icon"></v-icon>
                  </v-col>
                </v-row>
                <v-row v-if="state.puzzle2Success">
                  <v-col>
                    flag : {{ state.puzzle2Flag }}
                  </v-col>
                </v-row>
              </v-container>
            </v-window-item>
            <v-window-item
              :key="2"
              :value="2"
            >
              <v-container fluid>
                <v-row>
                  <v-col class="mx-auto" cols="6">
                    rnb2rk1/pp1p1Npp/2p2p2/8/2Q5/5B2/PP3P1q/R4KR1 w - - 4 20
                  </v-col>
                </v-row>
                <v-row>
                  <v-col class="mx-auto" cols="4">
                    <v-text-field v-model="state.puzzle3Answer"></v-text-field>
                  </v-col>
                </v-row>
                <v-row v-if="state.puzzle3Success">
                  <v-col>
                    flag : {{ state.puzzle3Flag }}
                  </v-col>
                </v-row>
              </v-container>
            </v-window-item>
            <v-window-item
              :key="3"
              :value="3"
            >
              <v-container fluid>
                <v-row>
                  <v-col class="mx-auto" cols="4">
                    <v-text-field v-model="state.puzzle1Answer"></v-text-field>
                  </v-col>
                </v-row>
                <v-row v-if="state.puzzle1Success">
                  <v-col>
                    flag : {{ state.puzzle1Flag }}
                  </v-col>
                </v-row>
              </v-container>
            </v-window-item>
          </v-window>
          <v-btn
            color="primary"
            style="color:white"
            min-width="80"
            class="mr-2"
            rel="noopener noreferrer"
            target="_blank"
            variant="flat"
            @click="submit"
          >
          {{ langIsFrench ? 'Valider' : 'Test' }}
          </v-btn>
          <v-btn
            color="error"
            style="color:white"
            min-width="80"
            rel="noopener noreferrer"
            target="_blank"
            variant="flat"
            @click="reset"
          >
          {{ langIsFrench ? 'Effacer' : 'Clear' }}
          </v-btn>
          </v-card>
      </v-row>
    </v-responsive>
  </v-container>
</template>

<script setup lang="ts">
import { ref, reactive, toRaw } from 'vue';
import axios from 'axios';
import { storeToRefs } from 'pinia';
import { useLangStore } from '@/store/lang';

const { langIsFrench } = storeToRefs(useLangStore())
  let tab = ref(null)

  const state = reactive({
    puzzle1Answer: '',
    puzzle2Answer: [] as Array<string>,
    puzzle2Icons: [] as Array<string>,
    puzzle1Success: false,
    puzzle2Success: false,
    puzzle3Success: false,
    puzzle3Answer: '',
    puzzle1Flag: '',
    puzzle2Flag: '',
    puzzle3Flag: '',
    snackbar: false,
    snackbarMessage: '',
    snackbarColor: '' as any
  })

  document.addEventListener("keyup", e => {
    if(tab.value == 1 ){
      state.puzzle2Answer.push(e.key)
      switch(e.key){
      case 'ArrowUp':
        state.puzzle2Icons.push('mdi-arrow-up')
        break;
      case 'ArrowDown':
        state.puzzle2Icons.push('mdi-arrow-down')
        break;
      case 'ArrowLeft':
        state.puzzle2Icons.push('mdi-arrow-left')
        break;
      case 'ArrowRight':
        state.puzzle2Icons.push('mdi-arrow-right')
        break;
      default:
        if(/[a-zA-Z]/.test(e.key)){
          state.puzzle2Icons.push('mdi-alpha-' + e.key.toLowerCase() + '-box-outline')
        }
          break;
      }
    }
  })

  async function submit(){
    if(tab.value != null)
    switch(tab.value){
      case 3:
        const answer = state.puzzle1Answer.trim()
        postAnswer('Un', answer)
        break;
      case 1:
        postAnswer('Deux', state.puzzle2Answer)
        break;
      case 2:
        const answer3 = state.puzzle3Answer.trim().toUpperCase();
        postAnswer('Trois', answer3)
        break;
      default:
        break;
    }
  }

  function postAnswer(puzzle: string, answer: any){
    axios.post(import.meta.env.VITE_API_URL+ 'CsGames/'+ puzzle, JSON.stringify(answer), {headers: {"Content-Type": "application/json"}}).then((response:any) => {
      state.snackbar = true
      state.snackbarMessage = langIsFrench ? 'Bonne réponse !' : 'Well done !' ;
      state.snackbarColor = 'success';
      if(puzzle == 'Un'){
        state.puzzle1Success = true
        state.puzzle1Flag = response.data
      }
      if(puzzle == 'Deux'){
        state.puzzle2Success = true
        state.puzzle2Flag = response.data
      }
      if(puzzle == 'Trois'){
        state.puzzle3Success = true
        state.puzzle3Flag = response.data
      }
      setTimeout(() => { state.snackbar = false }, 5000);
    })
    .catch((error) => {
      if(error.response.status == 409){
        //WRONG
        state.snackbar = true
        state.snackbarColor = 'error'
        state.snackbarMessage =   langIsFrench ? 'Mauvaise Réponse' : 'Wrong Answer' ;
        setTimeout(() => { state.snackbar = false }, 5000);
      }
      else{
        //une rrreueuerueueue s<est produite
      }})
  }
  
  function reset(){
    if(tab.value != null)
    switch(tab.value){
      case 2:
        state.puzzle3Answer = ''
        break;
      case 1:
        state.puzzle2Icons = []
        state.puzzle2Answer = []
        break;
      case 3:
        state.puzzle1Answer = ''
        break;
      default:
        break;
    }
  }
  //
</script>

<style scoped>
:deep().v-theme--dark.v-card{
  background-color: rgb(18, 18, 18)!important;
}

</style>