<template>  
  <div class="d-flex align-center justify-center" style="height: 100vh">
    <v-sheet width="400" class="mx-auto">
        <v-form fast-fail @submit.prevent="login">
            <!-- Image logo Pulsar  -->
            <v-img
            class="mb-3"
            contain
            height="300"
            src="@/assets/logo.png"
            />
            <!-- Username input  -->
            <v-text-field v-model="state.username" :label="langIsFrench ? 'Nom d\'usager' : 'Username'"></v-text-field>
            <!-- Password input  -->
            <v-text-field v-model="state.password" :label="langIsFrench ? 'Mot de passe' : 'Password'" type="password" name="password" autocomplete="on"></v-text-field>
            <!-- Submit login form button   -->
            <v-btn type="submit" color="primary" style="color: white;" block class="mt-2">{{ langIsFrench ? 'Se connecter' : 'Sign in' }}</v-btn>
        </v-form>
        <v-snackbar v-model="state.snackbar" color="error" top right>
        {{ state.snackbarMessage }}
        <template v-slot:actions>
        <v-btn color="white" variant="text" @click="state.snackbar = false">{{ langIsFrench ? 'Fermer' : 'Close' }}</v-btn>
      </template>      
    </v-snackbar>
    </v-sheet>
  </div>
</template>

<script lang="ts" setup>
import { reactive } from 'vue';
import axios from 'axios';
import { storeToRefs } from 'pinia';
import { useLangStore } from '@/store/lang';

const { langIsFrench } = storeToRefs(useLangStore())

const state = reactive({
  username: '',
  password: '',
  snackbar: false,
  snackbarMessage: ''
})

async function login(){
  axios.post(import.meta.env.VITE_API_URL + 'CsGames/login', { username: state.username, password: state.password,})
  .then((response) => {
    state.password = response.data
  })
  .catch((err) => {
    state.snackbar = true
    state.snackbarMessage =  langIsFrench ? 'Identifiants invalides, réessayez!' : 'Invalid credentials, try again!' 
  })
}

</script>

<style scoped>
:deep().v-theme--dark form{
  background-color: rgb(18, 18, 18)!important;
}

</style>