<template>
  <v-app>
    <v-main>
      <v-navigation-drawer permanent style="background-color: white; color: black;">
        <v-list nav>   
          <v-list-item prepend-icon="mdi-home" :title="langIsFrench ? 'Accueil' : 'Home'" value="Home" @click="$router.push({name:'Home'})"></v-list-item>
          <v-divider/>
          <v-list-subheader>{{langIsFrench ? 'TABLEAU DE BORD' : 'DASHBOARD'}}</v-list-subheader>
          <v-list-item prepend-icon="mdi-account-group" :title="langIsFrench ? 'Équipes' : 'Teams'" value="Teams" @click="$router.push({name:'Teams'})"></v-list-item>
          <v-list-item prepend-icon="mdi-crown" :title="langIsFrench ? 'Classement' : 'Leaderboard'" value="Leaderboard" @click="$router.push({name:'Leaderboard'})"></v-list-item>
          <v-divider></v-divider>
          <v-list-subheader>{{langIsFrench ? 'ÉNIGMES' : 'PUZZLES'}}</v-list-subheader>
          <v-list-item prepend-icon="mdi-account-box" :title="langIsFrench ? 'Se connecter' : 'Login'" value="Login" @click="$router.push({name:'Login'})"></v-list-item>
          <v-list-item prepend-icon="mdi-puzzle" :title="langIsFrench ? 'Casse-tête' : 'Puzzle'" value="Puzzle" @click="$router.push({name:'Puzzle'})"></v-list-item>
          <v-list-item prepend-icon="mdi-incognito" title="Incognito" value="unknownError" @click="$router.push({name:'unknownError'})"></v-list-item>
        </v-list>

        <v-img
          class="mb-5"
          contain
          height="100"
          src="@/assets/logo.png"
          />
          <v-img
          class="mb-3 mx-auto"
          contain
          height="120"
          src="@/assets/atlantis.png"
          />
          <v-img
          class="mb-3 mx-auto"
          contain
          height="100"
          width="140"
          src="@/assets/csgames.png"
          />
          <v-img
          class="mb-3 mx-auto"
          contain
          height="100"
          width="120"
          src="@/assets/uqac.png"
          />
        <v-divider></v-divider>
        <v-row>
          <v-col class="px-6">
            <v-btn class="text-center mt-5" block color="primary" @click="store.updateLang">{{ langIsFrench ? 'English' : 'Francais' }}</v-btn>
          </v-col>
        </v-row>
        </v-navigation-drawer>
      <router-view />
    </v-main>
  </v-app>
</template>

<script lang="ts" setup>
import { reactive, watch } from 'vue';
import { useTheme } from 'vuetify'
import { useLangStore } from '@/store/lang';
import { storeToRefs } from 'pinia';
const store = useLangStore();
const { langIsFrench } = storeToRefs(useLangStore())

const theme = useTheme()
theme.global.name.value = localStorage.getItem("theme") ?? 'light';

function setTheme(){
  theme.global.name.value = theme.global.name.value == 'dark' ? 'light' : 'dark';
  localStorage.setItem("theme", theme.global.name.value)
}

</script>
